<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(recipe.picture_url,width:200) if recipe.picture? %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recipe.price %>
  </p>

</div>
